<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>
<div class="login-container">
    <div class="test-block">
        <h3>Тест 1: Логика и основы кодирования</h3>
        <p>Поработайте с логическими выражениями.</p>
        <a href="/tests/1"><button class="login-btn">Перейти</button></a>
    </div>

    <div class="test-block">
        <h3>Тест 2: Алгоритмы и программирование</h3>
        <p>Проверка знаний основ программирования.</p>
        <a href="/tests/2"><button class="login-btn">Перейти</button></a>
    </div>

    <div class="test-block">
        <h3> Тест 3: Пробник</h3>
        <p>Проверьте накопленные за блок знания.</p>
        <a href="/tests/3"><button class="login-btn">Перейти</button></a>
    </div>
</div>