# Default ignored files
/shelf/
/workspace.xml

# Database
*.db
*.sqlite
*.sqlite3
database/tutoring.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
installed.cfg
*.egg
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt